<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <title>Luck Index - Antoine CHEDID & Merlin CONDE-CHERUBIN</title>
  </head>
  <body>
    <h1>Le luck index</h1>
    Le luck index est une mesure de la chance qu'a eu une équipe (ou un joueur) lors d'un tirage donné.
    <form method="POST">
      
      <label for="nb_sim">Nombre de simulations :</label>
      <input type="number" id="nb_sim" name="nombre_simulations" value="100" min="10">
      
      <br><br>

      <label for="choix_mode">Mode de calcul :</label>
      <select id="choix_mode" name="mode_jeu">
          <option value="standard">Standard</option>
          <option value="experimental">Expérimental</option>
          <option value="rapide">Mode Rapide</option>
      </select>

      <br><br>

      <label>Construisez votre propre pool pour évaluer le luck index de vos joueurs favoris!</label>
      <br><br>

      <label>Si un joueur n'est pas dans la liste, remplacez le par le joueur nommé "qualifié".</label>
      <br><br>

      <label for="select_joueur">Choisir un joueur :</label>
      <select id="select_joueur" name="joueur_rg">
        <option value="" disabled selected>-- Sélectionnez le joueur 1 --</option>
        {% for joueur in joueurs %}
        <option value="{{ joueur }}">{{ joueur }}</option>
        {% endfor %}
      </select>

      <br><br>
      
      <label for="select_joueur">Choisir un joueur :</label>
      <select id="select_joueur" name="joueur_rg">
        <option value="" disabled selected>-- Sélectionnez le joueur 2 --</option>
        {% for joueur in joueurs %}
        <option value="{{ joueur }}">{{ joueur }}</option>
        {% endfor %}
      </select>

      <br><br>

      <label for="select_joueur">Choisir un joueur :</label>
      <select id="select_joueur" name="joueur_rg">
        <option value="" disabled selected>-- Sélectionnez le joueur 3 --</option>
        {% for joueur in joueurs %}
        <option value="{{ joueur }}">{{ joueur }}</option>
        {% endfor %}
      </select>

      <br><br>

      <label for="select_joueur">Choisir un joueur :</label>
      <select id="select_joueur" name="joueur_rg">
        <option value="" disabled selected>-- Sélectionnez le joueur 4 --</option>
        {% for joueur in joueurs %}
        <option value="{{ joueur }}">{{ joueur }}</option>
        {% endfor %}
      </select>

      <br><br>

      <button type="submit">Lancer le calcul</button>
    </form>

    <hr>

    {% if plot_url %}
      <h2>Résultats :</h2>
      <img src="data:image/png;base64,{{ plot_url }}" alt="Graphique Matplotlib">
    {% else %}
      <p>Veuillez lancer une simulation pour voir le graphique.</p>
    {% endif %}
  </body>
</html>